[core]
    autocrlf = true
[alias]
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -n10
[user]
    name = Tristram Newman
    email = tristram.newman@gmail.com
